<main class="chat">
  <section class="chat__sidebar">
    {{{settingsLink}}}
    {{{searchForm}}}
    <div class="chat__contacts">
      <div class="chat_contact-list">
        {{#each contacts}}
          {{{this}}}
        {{/each}}
      </div>
    </div>
  </section>
  <section class="chat__content">
    <section class="chat__messages-content">
      <div class="chat__header">
        {{{avatar}}}
        {{contactName}}
      </div>
      <div class="chat__messages-container">
        <div class="chat__messages">
          {{#each messages}}
            {{{this}}}
          {{/each}}
        </div>
      </div>
    </section>
    <section class="chat__message-form">
      {{{messageForm}}}
    </section>
  </section>
</main>
