<div class={{styles.wrapper}}>
  <div class={{styles.image}}  >
  </div>
  <div class={{styles.message}}>
    {{{attachIcon}}}
    <input type='text' class={{styles.input}} placeholder='Message' />
    {{{sendIcon}}}
  </div>
</div>