<div class='{{styles.wrapper}} {{class}}'>
  <input
    name={{name}}
    type={{type}}
    id={{id}}
    class={{styles.input}}
    placeholder={{label}}
    autocomplete='off'
  />
  <label for={{id}} class={{styles.label}}>{{label}}</label>
</div>